<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- The <context:component-scan> element works by scanning a package and all of its-->
    <!-- subpackages, looking for classes that could be automatically registered as beans in the-->
    <!-- Spring container.-->
    <!-- By default, <context:component-scan> looks for classes that are annotated with one-->
    <!-- of a handful of special stereotype annotations:-->
    <!-- @Component—A general-purpose stereotype annotation indicating that the class-->
    <!-- is a Spring component-->
    <!---@Controller—Indicates that the class defines a Spring MVC controller-->
    <!-- @Repository—Indicates that the class defines a data repository-->
    <!-- @Service—Indicates that the class defines a service-->
    <!--Any custom annotation may be itself annotated with @Component-->

    <!--Do NOT also include the <context:annotation-config/> directive, it is automatically included by component scan-->

    <context:component-scan base-package="org.xander.spring.springIdol.minimizingXMLConfiguration.javaBasedConfiguration" />
</beans>
